/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.oveflow-cover .fl-module-uabb-gravity-form {
	position: relative;
	z-index: 2 !important;
}

.gform_wrapper.gravity-theme .gfield_label {
   margin-bottom: 0px !important;
}

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #e46f1d;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #e46f1d;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.facetwp-selections ul li{
    width: 100%;
    display: block;
    margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value{
	font-size: 16px;
    color: #000;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}

/* search open*/
div#sfnlocator-wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-right: 30px;
}
#wpsl-result-list {
    width: 100% !important;
}
.location-icon-main .find_wrap p.location-name, .location-icon-main .find_wrap .bb_location_name {
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    color: #DB2A34 !important;
    line-height: 20px;
    margin: 0 0;
    letter-spacing: 0.6px;
}
.location-icon-main .fl-icon-text {
    padding-left: 5px;
}
.location-icon-main .find_wrap span.location-add, .location-icon-main .find_wrap .bb_loc_address {
    font-size: 12px;
    line-height: 18px;
    color: #484848;
    letter-spacing: 0.45px;
}
.wpsl-search{
    background: transparent !important;
    padding-top: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input {
    border: 1px solid #000;
    border-radius: 3px;
    width: 100%;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input:focus {
    border: 1px solid #E46F1E;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input {
    float: none;
    width: 100%;
    display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div {
    float: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div label{
    width: 100%;
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 5px;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform  .wpsl-select-wrap {
    width: 70%;
    display: unset;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius {
    width: 95%;
    display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius .wpsl-dropdown {
    width: 100%;
    border: 1px solid #474747;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius label{
    display: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
    width: 30%;
    display: unset;
    margin: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
    background: #0C141D;
    color: #fff;
    border-radius: 3px;
    display: block;
    margin: 0;
    padding: 6px 10px;
    text-transform: uppercase !important;
    letter-spacing: 0.75px;
}
/* search end */
.homepage_locationStore #wpsl-stores, .homepage_locationStore #wpsl-direction-details, .homepage_locationStore #wpsl-gmap, .homepage_locationStore #wpsl-stores{
    height: 600px !important;
}
div#wpsl-stores .wpsl-store-location .location_title_wrapper {
    color: #000;
    margin-bottom: 5px;
}
div#wpsl-stores .wpsl-store-location .your_store {
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    color: #000;
}
div#wpsl-stores .wpsl-store-location h3{
    margin: 0;
    width: 70%;
}
div#wpsl-stores li.mystore_location .wpsl-store-location h3 a {
    color: #E46F1E;
}
div#wpsl-stores .wpsl-store-location h3 a {
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: #000;
    line-height: 18px;
    display: block;
}

div#wpsl-stores .wpsl-store-location span {
    color: #000;
    font-size: 14px;
    line-height: 18px;  
}
div#wpsl-stores .wpsl-store-location span.wpsl-street {
   line-height: 18px;
   margin-bottom: 0;
}
div#wpsl-stores .wpsl-store-location span.distance_unit {
    letter-spacing: 0.75px;
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    float: right;
    margin: -18px 0 0 !important;
}

div#wpsl-stores .wpsl-store-location p.wpsl-contact-details {
    display: flex;
    margin-top: 5px;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span{
    margin-right: 10px;
    color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span a{
    color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details a.site_loc_url{
    color:#E46F1E ;
}
div#wpsl-stores li.mystore_location .wpsl-store-location .Coupon-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper {
    display: flex;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
    padding: 10px;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    background: #000;
    outline: none;
    border: 0;
    margin: 0 10px 10px 0;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button:hover {
    background: #E46F1E;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button {
    background: #E46F1E;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper  .visit_store.redbutton a.fl-button {
    background: #E46F1E;
}

div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button:hover {
    background: #000;
}
div#wpsl-stores .wpsl-store-location {
    position: relative;
}
.location_title_wrapper h3 a {
    font-size: 14px;
    outline: none;
}
.wpsl-info-window.custominfo_wrapper .store_thumb{
    float: left;
    width: 40%;
}
.wpsl-info-window.custominfo_wrapper .info_wrapper {
    float: right;
    width: 60%;
}

#wpsl-gmap img, .wpsl-gmap-canvas img{
    width: 100%;
}
.wpsl-info-window .info_wrapper .location_title_wrapper {
    padding-top: 10px;
}
.wpsl-info-window .info_wrapper .location_title_wrapper h3{
    margin: 0;
}
.wpsl-info-window .info_wrapper .infomap_div {
    display: flex;
}

.wpsl-info-window .info_wrapper .location_title_wrapper h3 a {
    font-size: 12px;
    line-height: 14px;
    color: #E46F1E;
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    display: block;
    margin: 0 0 5px;
}
.wpsl-info-window i.ua-icon.ua-icon-location-pin {
    color: #E46F1E;
    font-size: 24px;
}
.wpsl-info-window span, .wpsl-more-info-listings span{
    font-size: 13px;
    line-height: 15px;
}
.wpsl-info-window span.store_msg {
    margin-top: 10px;
    margin-left: 23px;
}
#wpsl-wrap .wpsl-info-window p{
    font-size: 13px;
}
#wpsl-gmap .gm-style-iw.gm-style-iw-c .wpsl-info-window {
    max-width: 350px !important;
    display: flex;
    align-items: center;
}
button.gm-ui-hover-effect {
    top: 0px !important;
    right: 0px !important;
}

#home_page_storelocator .wpsl-search.wpsl-clearfix {
    display: none;
}
.custominfo_wrapper a.wpsl-directions {
    display: none;
}
span.wpsl-country {
    display: none;
}
.product-color-variationPlp.plp_slide_wrap {
    display: none;
}
.checked {
  color: orange;
}
#wpsl-base-gmap_0 {
    height: 600px !important;
    width: 100%;
}
.find-a-retailer-row div#wpsl-gmap {
    height: 600px !important;
}
.find-a-retailer-row #wpsl-stores {
    height: 460px !important;
}



/* Store location page  */
.header-banner-image-bg {
    position: relative;
    display: none;
}
.header-banner-image-bg .header-banner-image::after{
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.35);
}
.header-banner-image {
    background: url(https://bobscarpetmart-stg.mm-dev.agency/wp-content/uploads/2022/04/shop-flooring-at-home_orig-1.jpg) no-repeat 0 0;
    padding: 129px 0;
    background-size: cover;
}
.header-sale-image {
    margin-bottom: 60px;
}
.storelocation .container {
    max-width: 1300px;
	width: 100%;
}
.storeloc-content .entry-title.sfnstoretitle {
    font-size: 16px;
    /*font-family: "Luckiest Guy", sans-serif;*/
    font-weight: 400;
    color: #E46F1E;
    line-height: 20px;
    margin: 20px 0 0;
}
.storeloc-content span.add {
    display: block;
    margin: 15px 0;
}
.storeloc-content span.autorized {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    display: block;
    margin: 0;
    color: #484848;
}
.storeloc-content span.siteUrl a {
    color: #E46F1E;
    font-size: 14px;
    line-height: 20px;
    display: block;
    letter-spacing: 0.53px;
    margin: 20px 0;
}
.storeloc-content .store_reviews {
    margin: 20px 0;
}
.storeloc-content  span.phNo {
    font-size: 20px;
    line-height: 25px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    padding: 10px 0;
}
.storeloc-content span.phNoDis a{
    font-size: 20px;
    line-height: 25px;
    color: #E46F1E;
    letter-spacing: 0.65px;
    font-weight: 400;
    margin: 10px 0 20px;
    display: block;
}
.storeloc-content span.phNoDis a:hover{
    text-decoration: none;
}
.storeloc-content span.phNoDis a:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

.storeloc-content .storehours span {
    font-size: 20px;
    line-height: 25px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    margin: 0 0 20px;
}
.storeloc-content table.wpsl-opening-hours th, .storeloc-content table.wpsl-opening-hours td {
    color: #484848;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    font-weight: 500;
}
.storeloc-content table.wpsl-opening-hours td.today_hour {
    color: #E46F1E !important;
    font-weight: 600 !important;
}
.storeloc-content table.wpsl-opening-hours td.today_hour span, .storeloc-content table.wpsl-opening-hours td.today_hour time {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    line-height: 18px;
}
.storeloc-content .store_links_main {
    padding: 20px 0 40px;
}
.storeloc-content .store_links_main span.getLable {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    margin: 0 ;
}
.storeloc-content .store_links_main ul {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    align-items: center;
}
.storeloc-content .store_links_main ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #E46F1E;
    letter-spacing: 0.45px;
    text-decoration: underline;
    margin-right: 20px;
    text-transform: uppercase;

}
.storeloc-content .store_links_main ul li a:hover{
    color: #020050;
}
.storeloc-content .store_links_main ul li:last-child a{
    margin-right: 0;
}
.storeloc-content .store_links_main ul li a.button {
    background: none;
    padding: 0;
    outline: none;
    border: 0;
    color: #E46F1E;
}
.storeloc-content .store_links_main ul li a.button:hover{
    color: #000;
}
.storeloc-map .mapcon_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px;
}
.storeloc-map .mapcon_main .mapcon_left_flex {
    display: flex;
    align-items: center;
}
.storeloc-map .mapcon_main .mapcon_left_flex i.ua-icon.ua-icon-location-pin {
    color: #E46F1E;
    font-size: 30px;
    line-height: 30px;
    margin-right: 5px;
}
.storeloc-map .mapcon_main  h2.entry-title.sfnstoretitle, .storeloc-map .mapcon_main  h1.entry-title.sfnstoretitle {
   /* font-family: "Luckiest Guy", sans-serif;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.60px;
    color: #E46F1E;
    margin: 0;
}
.storeloc-map .mapcon_main span.add {
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #484848;
}
.storeloc-content a.fl-button {
    width: 150px;

}
.storeloc-content .contact_btn .fl-button{
    background: #E46F1E !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 0 !important;

}
.storeloc-content .contact_btn .fl-button:hover{
    background: #000 !important;
}
.storeloc-map .mapcon_main .mapcon_right a, .storeloc-content a.fl-button, .storeloc-content .mapcon_right a,  .storeloc-content .contact_btn .fl-button {
    padding: 12px 24px;
    min-height: 47px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    border: 0;
    border-radius: 0 !important;
    background: #E46F1E;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    display: block;
    text-decoration: none !important;
    text-align: center;
    width: 220px;
}
.storeloc-map .mapcon_main .mapcon_right a:hover, .storeloc-content a.fl-button:hover, .storeloc-content .mapcon_right a:hover,  .storeloc-content .contact_btn .fl-button:hover {
    background: #000;
}
.storeloc-map .mapcon_main .mapcon_right a{
    display: none;
}
.storeloc-map .mapcon_main .mapcon_right a:hover {
    background: #000;
    text-decoration: none;
}

.bottomsection {
    text-align: center;
    margin:0;
}

.bottomsection h2 {
    color: #000;
    font-size: 45px;
    /*font-family: "Luckiest Guy", sans-serif;*/
    letter-spacing: 0;
    line-height: 75px;
    margin-bottom: 25px;
}
.bottomsection p {
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
}


/* Store location page  */


.bannerRow .uabb-module-content.uabb-ib1-outter:hover h3.uabb-ib1-title.title-left {
    background: #333333;
    color: #fff;
}

.facet_filters strong {
    font-size: 16px;
    color: #e46f1d;
    display: block;
    margin: 0 0 10px;
}

.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #e46f1d;
}

.shop-flooring-row .uabb-infobox-title-wrap, .shop-flooring-row .uabb-infobox-text-wrap {
    padding: 0 20px;
}


.header_phone, .header_phone a {
    color: #333!important;
    font-family: "Montserrat",sans-serif;
    font-weight: 800!important;
    font-size: 16px!important;
}
.header_phone a {
    color: #e46f1d!important;
}
.header_phone a:hover {
    color: #000!important;
}
.header_location_name {
    font-family: "Montserrat",sans-serif;
    font-weight: 700!important;
    color: #e46f1d!important;
}
.sixteen_location * {
    display: inline-block!important;
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
    font-weight: 700!important;
}
.contentFlyer > p, .sixteen_location > p {
    padding-bottom: 0px!important;
}
.header-top .uabb-infobox-button a {
    padding: 0px!important;
}
.dropIcon.uabb-offcanvas-trigger {
    margin-bottom: 5px;
}
.locationWrapFlyer {
    align-items: flex-end!important;
}
.contentFlyer > p, .contentFlyer > .header_location_name {
    display: inline-block!important;
}
.product-detail-layout-6 .dual-button a, .product-detail-layout-6 .button-wrapper>a {
    margin-top: 20px!important;
    border-radius: 27px;
    background: #e46f1d !important;
    color: #fff !important;
    border-color: #e46f1d;
}

.product-detail-layout-6 .dual-button a:hover, .product-detail-layout-6 .button-wrapper>a:hover {
    background: #000 !important;
    color: #fff !important;
    border-radius: 27px;
    border-color: #000 !important;
}

.moove-gdpr-button-holder>button.mgbutton {
    background-color: #fff!important;
    color: #333!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 800!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #303030!important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #303030!important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #e46f1d!important;
    border-top: 1px solid #fff;
  }
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
    color: #fff!important;
    opacity: 0.7;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #333333!important;
  }
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #e46f1d!important;
    border: 1px solid #000!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #333333!important;
    background-color: #fff!important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #333333 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #e46f1d!important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 800!important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #303030!important;
    color: #fff!important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #e46f1d!important;
  }



@media (max-width:1367px){
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button{
        font-size: 12px;
    }
    #wpsl-gmap{
        width: 55%;
    }
}

@media (max-width:1340px){
    p.location-name{
        font-size: 14px;
    }
    span.location-add {
        font-size: 10px;
    }

}

@media (min-width:769px) and  (max-width:1024px){
    .find-a-retailer-row div#wpsl-gmap, .homepage_locationStore #wpsl-gmap {
        width: 50%;
    }
}

@media(min-width: 769px ){
  .fl-slide-foreground {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .fl-slide-content-wrap {
     width: 100%;
 }
 .fl-slide-content {
    margin: 0px!important;
}
}
@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
    .product-row>div.col-md-4:nth-child(3n+1) {
        clear: unset;
    }
}
@media (max-width:768px) and (min-width: 360px){
.fl-builder-content .header-top .infobox-photo-left .uabb-infobox-content {
    width: 100%!important;
}	
}
@media (max-width:768px){
	.header_phone, .header_phone a {
		color: #333;
		font-family: "Montserrat",sans-serif;
		font-weight: 800!important;
		font-size: 12px!important;
	}

	.header_location_name {
		font-family: "Montserrat",sans-serif;
		font-weight: 700!important;
		color: #e46f1d!important;
	}
	.sixteen_location * {
		display: inline-block!important;
		font-size: 12px!important;
		font-family: "Montserrat",sans-serif;
		font-weight: 700!important;
	}

	.header-top .uabb-infobox-button a {
		padding: 0px!important;
		font-size: 12px!important;
	}

	.locationWrapFlyer {
		align-items: flex-end!important;
	}
	.contentFlyer > p, .contentFlyer .header_location_name {
		display: inline-block!important;
	}

    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    #wpsl-gmap{
        float: none;
        width: 100%;
        margin: 0 auto 20px;
    }
    div#wpsl-stores .wpsl-store-location{
        text-align: left;
    }
    div#sfnlocator-wrap{
        padding-right: 0;
    }
    .find-a-retailer-row div#wpsl-gmap, .homepage_locationStore #wpsl-gmap, #wpsl-base-gmap_0 {
        height: 350px !important;
    }
    .homepageReview .fl-module-pp-star-rating .pp-rating-content {
        text-align: center !important;
    }
    .flooringRow .fl-col.fl-col-small {
        max-width: 100%;
    }
    .product-plp-grid.product-grid.swatch .product-row .col-lg-4 {
        width: 33.33% !important;
    }
    .rmp-menu-item-link {
        text-transform: uppercase;
    }
    a.areacustom {
        height: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        font-size: 13px;
        border-bottom: 0px solid #1d4354;
        font-family: inherit;
        font-weight: normal;
        color: #fff;
        text-align: left;
        background-color: inherit;
        padding-left: 15%;
    }
}
@media screen and (min-width: 490px) and (max-width: 768px) {
    .rmp-container.rmp-container.rmp-slide-left {
        min-width: 500px !important;
        max-width: 500px !important;
    }
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        /* height: 335px;
        margin-bottom: 20px; */
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
    .wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
        width: 100%;
        display: unset;
        margin: 10px auto 0;
        float: none;
    }
    .wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap {
        width: 100%;
        display: inline-block;
        float: none;
        margin: 0;
    }
    .wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius {
        width: 100%;
    }
    #wpsl-search-wrap .wpsl-dropdown {
        width: 98% !important;
        padding: 7px 12px;
    }
    .flooringRow .uabb-infobox-left-right-wrap {
        text-align: center;
    }
    .flooringRow .uabb-infobox-left-right-wrap > div {
        width: 100%;
    }
    .flooringRow .infobox-left .uabb-imgicon-wrap{
        margin: 0;
    }
    .flooringRow .uabb-infobox-content {
        width: 100% !important;
    }
    .product-plp-grid.product-grid.swatch .product-row .col-lg-4 {
        width: 100% !important;
    }
    /* h1 {
        font-size: 30px !important;
        line-height: 40px !important;
    }
    h2 {
        font-size: 28px !important;
        line-height: 35px !important;
    } */
}
@media screen and (max-width: 420px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
        font-size: 10px;
    }
    div#wpsl-stores .wpsl-store-location h3 a, .location_div .bb_location_name, .location-icon-main .find_wrap p.location-name, .location-icon-main .find_wrap .bb_location_name{
        font-size: 14px;
    }
    div#wpsl-stores .wpsl-store-location span {
        font-size: 12px;
    }
    button.rmp_menu_trigger {
        top: 85px !important;
    }
    .rmp-menu-item-link {
        font-size: 11px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    .rmp-submenu .rmp-menu-item-link {
        font-size: 8px !important;
        height: 30px !important;
        line-height: 30px !important;
    }

}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}

@media screen and (max-width: 320px){
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
        font-size: 8px;
    }
}

div.ginput_container.ginput_container_date input.datepicker{
	margin-top: 2px !important;
}
article.fl-post .fl-post-content-beside { 
    width: 100%!important;
}

article.fl-post .fl-post-image-beside {
    float: none!important;
    clear: right!important;
}
.uabb-separator {
	/* border-top: 3px solid #000 !important; */
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div label {
	font-weight: 900 !important;
	font-size: 15px !important;
}
.gform_footer.top_label {
    text-align: left !important;
}
.gform_wrapper.gravity-theme .hour_minute_colon {
    margin-top: 20px !important;
}
.gform_footer input{
	width: auto !important;
	border-radius: 0px !important;
}
div.gchoice {
    display: flex !important;
    align-items: center !important;
}
div.gchoice .gfield-choice-input{
	margin-right: 5px !important;
}
.gform_body *{
	text-align: left !important;
}

.gfield_captcha_input_container.math_medium input {
    width: 100px !important;

}
.gform_footer.top_label input {
    padding: 10px 30px !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
}
#gform_6 .gform_footer.top_label{
	text-align: center !important;
}
div.gform_wrapper .gfield_required {
	padding-left: 0 !important;
	margin-left: 2px !important;
}
.header-phone{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.header-top .fl-row-content-wrap .fl-row-content{
	position: relative;
}
#menu-main-menu > li{
	border: 0;
}
.gform_wrapper.gravity-theme #field_submit, .gform_wrapper.gravity-theme .gform_footer{
	display: block !important;
}
.gform_wrapper.gravity-theme .ginput_container_date input {
    width: 100% !important;
}
.gform_wrapper.gravity-theme input[type=color],
.gform_wrapper.gravity-theme input[type=date],
.gform_wrapper.gravity-theme input[type=datetime-local],
.gform_wrapper.gravity-theme input[type=datetime],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme input[type=month],
.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gravity-theme input[type=password],
.gform_wrapper.gravity-theme input[type=search],
.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=time],
.gform_wrapper.gravity-theme input[type=url],
.gform_wrapper.gravity-theme input[type=week],
.gform_wrapper.gravity-theme .gfield .ginput_container select,
.gform_wrapper.gravity-theme textarea{
	margin-bottom: 0 !important;
	border-radius: 0;
}
.uabb-gf-style form .gform_body .gfield_label{
	border-bottom: 0;
}
.locationWrapFlyer .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
    margin-left: 5px;
    cursor: pointer;
}

h3.header_location_name {
    font-size: 15px;
}



.locationWrapFlyer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: rgb(255 255 255 / 0.9)!important;
}

.contentFlyer *{
	font-family: Poppins, sans-serif;

}   
   

.contentFlyer p{
	line-height: 0.9em;
	font-size: 12px;
	color: #fff!important;
    text-transform: capitalize;
}    
.locationWrapFlyer .contentFlyer h3, #storeLocation .store_wrapper h5:first-child {
    color: #fff;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.locationWrapFlyer .contentFlyer .mobile a{
    color: #fff!important;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3em;
	margin-top: 5px!important;
    display: inline-block;
    margin-bottom: 5px!important;

    
}
.locationWrapFlyer .contentFlyer .mobile a:hover, .locationWrapFlyer .contentFlyer .mobile a:hover:before{
    color: #01839f !important;
}

.locationWrapFlyer  .dropIcon:after {
     content:"\f078 ";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-left: 5px;
}
.locationWrapFlyer  .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
	margin-left: 5px;
    cursor: pointer;
}


.changeLocation {
    position: absolute;
    top: 120px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    max-height: 550px;
    overflow: visible;
    background-color: #fff;
    color: #ffff;
    z-index: +6;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    transition: all 0.6s;
   
}
.changeLocation .content {
	overflow-y: auto;
    height: 100%;
}
#storeLocation:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 30px solid #fff;
	position: absolute;
	bottom: 100%;
	filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.15));
	left: 50%;
	transform: translateX(-50%);
    display: none;
}

.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
#storeLocation .content a{
	color: #fff!important;
}	
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;

}
#storeLocation .title-prefix{
    margin-bottom: 10px !important;
}

/* #storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Spartan",sans-serif;
} */

#storeLocation .store_wrapper h5.store-add:hover,
#storeLocation .store_wrapper a:hover, #storeLocation .store_wrapper a:hover:before{
	color: #01839f !important;
}
.content .store_wrapper {
padding: 30px 30px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}

.changeLocation .closebtn{
	display: none;
}
.changeLocation .closebtn:hover{

 color: #fff;
}

.content .store-add{
	color: #fff;
    font-weight: 600;
    font-size: 12px;
    max-width: 220px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
#storeLocation .store_wrapper a{
	font-size: 12px!important;
}
#storeLocation .store-hour{
	color: #fff!important;
    font-weight: 700;
    font-size: 12px!important;
    text-transform: capitalize;
    margin-top: 10px;
}
#storeLocation .store-phone, #storeLocation .store-hour, #storeLocation .content .choose_location, #storeLocation .content .view_location {
     margin-bottom: 10px!important;
    display: block;
}

#storeLocation .store-phone a{
	color: #fff!important;
    font-weight: 400;
    font-size: 12px!important;
    text-transform: capitalize;
}
#storeLocation .store-phone a:before, .locationWrapFlyer .contentFlyer .mobile a:before{ 
    content:"\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    margin-right: 5px;
}
.content .choose_location:before{
	content: "\f054";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
	margin-right: 4px!important;
    font-size: 14px;
}
.content .view_location:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
	margin-right: 4px!important;
    font-size: 14px;
}
.content  .makemystore:before {
    content: "\f054";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    margin-right: 4px!important;
    font-size: 14px;
}
#storeLocation .store_wrapper p.store-phone {
    margin: 10px 0 0 0 !important;
}
.contentFlyer p{
	color: #000 !important;
}
span.header_location_name {
    color: #e46f1d !important;
    font-weight: 900 !important;
}

#gform_16 .gform_footer.top_label {
    text-align: center!important;
}


@media(max-width: 1320px) {
	.storelocation .container {
		width: 100%;
	}
	.storelocation .container .row {
		margin-right: 0px!important;
		margin-left: 0px!important;
		max-width: 100%;
		width: 100%;
	}	
}

@media(max-width: 992px) {
	
}


@media(max-width: 820px) {
.btn-align .infobox-left { text-align:center; }

.fl-node-vyrjaszn6i3q .uabb-infobox .uabb-module-content.uabb-imgicon-wrap { width: 100% !important;}
.fl-builder-content .fl-node-vyrjaszn6i3q .infobox-photo-left .uabb-infobox-content { width: calc(100%);}
.fl-node-vyrjaszn6i3q .uabb-image .uabb-image-content { width: 50px;}


}


@media(max-width: 768px) {
	.DualRoomvoCenter .uabb-dual-button {
    justify-content: center;
}
}

@media(max-width: 767px) {
	
}

@media(max-width: 600px) {
	
}

@media (max-width: 667px) {
	h2 { font-size: 28px !important; line-height: 38px !important;}
	h3 { font-size: 22px !important; line-height: 32px !important;}
}


#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn{position:absolute!important;right:10px!important}.swell-chat-fixed{z-index:9999!important}.gdpr_lightbox,aside#moove_gdpr_cookie_info_bar{z-index:+9999999991!important}@media only screen and (max-width:992px){aside#moove_gdpr_cookie_info_bar{position:fixed;max-width:80%;left:0;right:0;margin:0 auto;top:50%;transform:translate(0,-50%);z-index:+9999999991;bottom:auto;content-visibility:inherit}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content{flex-wrap:wrap;flex-direction:column}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice{text-align:center}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p{margin-bottom:10px!important}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p:last-child{margin-bottom:0!important}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder{padding:10px 0}#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-close-btn{top:-20px!important;right:-20px!important;background:#fff;opacity:1!important;color:#000!important}#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder{justify-content:center;align-items:center}}@media (max-width:767px){#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content{padding:0!important}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content{padding-top:30px!important}}.moove-gdpr-branding-cnt{  display: none;}.moove-gdpr-company-logo-holder{display: none;}

















